<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="TestOpcMachine" type="System.Configuration.NameValueSectionHandler, System"/>
    <section name="SinumerikOpcMachine" type="System.Configuration.NameValueSectionHandler, System"/>
  </configSections>
  <appSettings>
    <add key="key" value="457310061"/>
  </appSettings>
  <connectionStrings>
    <add name="connstr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\C#Code\DBOperation\ykjj.mdb"/>
  </connectionStrings>
    <TestOpcMachine>
      <add key="_Name" value="TestOpcMachine"/>
      <add key="_Path" value="一个整形"/>
      <add key="Random.Int4" value="一个整形"/>
      <add key="Random.Real8" value="一个实数"/>
      <add key="Random.String" value="一个字符串"/>
      <add key="Random.Uint4" value="一个无符号整形"/>
      <add key="Random.ArrayOfReal8" value="一个实数数组"/>
      <add key="@Clients" value="一个数组"/>
    </TestOpcMachine>
    <SinumerikOpcMachine>
      <add key="/DriveHsa/State/linkVoltage[u1]" value="母线电压"/>
      <add key="/Nck/State/freeMemDram[1]" value="可用内存"/>
      <add key="/Nck/State/numAlarms" value="当前报警数量"/>
      <add key="/Nck/ChannelDiagnose/poweronTime[1]" value="开机分钟数"/>
      <add key="/DriveHsa/State/actualCurrent[u1]" value="实际电流与最大电流比"/>
      <add key="/Channel/Spindle/speedOvr[1]" value="主轴倍率"/>
      <add key="/Channel/Spindle/driveLoad[1]" value="主轴负载"/>
      <add key="/Channel/State/actFeedRateIpo" value="进给速度"/>
      <add key="/Channel/State/feedRateIpoOvr" value="进给倍率"/>
      <add key="/Channel/State/actTNumber" value="刀具号"/>
      <add key="/Channel/ProgramInfo/actLineNumber" value="当前程序行"/>
      <add key="/Channel/State/progStatus" value="程序状态"/>
      <add key="/Bag/State/opMode" value="当前模式"/>
      <add key="/Channel/ProgramInfo/progName" value="当前激活程序名"/>
      <add key="/Channel/ProgramInfo/singleBlock[2]" value="当前程序块"/>
      <add key="/Channel/State/chanAlarm" value="通道报警"/>
      <add key="/Channel/ProgramInfo/block" value="当前程序段"/>
      <add key="/Channel/ProgramInfo/blockNoStr" value="当前段"/>
      <add key="/Channel/SelectedFunctions/ncFkt" value="当前有效G命令"/>
      <add key="/Channel/Spindle/actSpeed" value="主轴实际速度"/>
      <add key="/Channel/GeometricAxis/cmdFeedRate" value="理论进给速度"/>
      <add key="/Channel/GeometricAxis/actFeedRate" value="实际进给速度"/>
      <add key="/Channel/GeometricAxis/actProgPos[u1,0]" value="X轴坐标"/>
      <add key="/Channel/GeometricAxis/actProgPos[u1,1]" value="Y轴坐标"/>
      <add key="/Channel/GeometricAxis/actProgPos[u1,2]" value="Z轴坐标"/>
      <add key="/Nck/SequencedAlarms/textIndex" value="报警号"/>
    </SinumerikOpcMachine>

</configuration>